@charset "UTF-8";:root {
  --color-link: #99270B;
  --color-visited-link: #99270B;
  --body-background: #EEEEEE;
  --body-font-color: #0F161C;
  --grey-100: #CBCECF;
  --grey-200: #AFAFAF;
  --grey-300: #585858;
  --temp-cold: #81B0CB;
  --temp-cool: #BDD6DD;
  --temp-mild: #E2D278;
  --temp-warm: #F2B774;
  --temp-hot: #E39174;
}
/*
@media(prefers-color-scheme: dark) {
  :root {
    --color-link: #E5BE10;
    --color-visited-link: #E5BE10;
    --body-background: #2E3338;
    --body-font-color: #EEEBE7;
    --grey-100: #585858;
    --grey-300: #CBCECF;
  }
}
*/

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""),url(fonts/roboto-v27-latin-regular.woff2)format("woff2"),url(fonts/roboto-v27-latin-regular.woff)format("woff")
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(""),url(fonts/roboto-v27-latin-700.woff2)format("woff2"),url(fonts/roboto-v27-latin-700.woff)format("woff")
}

@font-face {
    font-family: roboto mono;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""),url(fonts/roboto-mono-v13-latin-regular.woff2)format("woff2"),url(fonts/roboto-mono-v13-latin-regular.woff)format("woff")
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body {
  color: var(--body-font-color);
  background: var(--body-background);
  letter-spacing: .33px;
  font-family: roboto,sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: [nav] 100px [main] auto [footer] 200px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  width: 95%;
  grid-row: main;
}

.top-menu {
  width: 90%;
  height: fit-content;
  margin: 0 auto;
  max-width: 1400px;
  grid-row: nav;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 40px;
  margin-top: 20px;
  .logo {
    width: 70px;
    align-self: center;
  }
  h2 {
    align-self: center;
    margin: 0;
    line-break: 0;
  }
  nav {
    align-self: flex-end;
    flex-grow: 2;
    ul {
      display: flex;
      justify-content: end;
      margin: 0;
      li {
        list-style: none;
        text-decoration: none;
        padding: 8px 10px;
        margin: 8px 10px;
        font-weight: 800;
        font-size: 22px;
        border: 1px solid #422800;
        border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
        box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
        border-bottom-left-radius: 15px 255px;
        border-bottom-right-radius: 225px 15px;
        border-top-left-radius: 255px 15px;
        border-top-right-radius: 15px 225px;
        display: inline-block;
        transition: all 235ms ease-in-out;
        &:hover,&:focus {
          box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
          transform: translate3d(0, 2px, 0);
        }
      }
    }
  }
}

code {
  font-family: roboto mono,monospace;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

:focus {
  outline-style: auto;
  outline-color: currentColor;
  outline-color: -webkit-focus-ring-color
}

.anchor {
  color: var(--grey-100);
}

.anchor:hover {
  color: var(--color-link);
}

.flex {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: start;
  margin-bottom: 25px;
}

.row-wrap {
  flex-flow: row wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  max-width: 180px;
  min-width: 140px;
  max-height: 166px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 5px;

  h3,h4 {
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px 15px;
    margin: 0px;
    border-top: 1px solid #ccc;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .card-body {
    order: -1;
    padding: 0px 15px;
    text-align: center;
    font-size: 28px;
    p {
      margin: 18px 0px;
    }
  }

}


#summary-forecast {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr repeat(4, 1fr);
  gap: 10px;
  grid-auto-flow: row;
  width: 100%;
  overflow: hidden;
  font-size: 0.8rem;



  ul {
    padding: 0px;
  }
  li {
    list-style: none;
  }

  #day {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 10px;
    li {
      background-color: var(--grey-100);
      border-radius: 30px;
      place-self: center stretch;
      padding-left: 45px;
    }
  }
  .time {
    font-weight: 600;
    font-size: 20px;
  }

  .description {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 10px;
  }
  .icon {
    height: 50px;
    img {
      height: 50px;
    }
  }

  .forecast-timestep {
    max-width: 150px;
    display: flex;
    flex-flow: column;
    grid-row: 2;
    justify-content: center;
    align-items: center;
    gap: 10px;
    li {
      width: 60%;
      text-align: center;
      border-radius: 4px;
    }
  }

  ul:nth-child(1) {
    grid-column: 2 / span 4;
    grid-row: 1;
  }
  ul:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
  ul:nth-child(3) {
    grid-column: 2;
  }
  ul:nth-child(4) {
    grid-column: 3;
  }
  ul:nth-child(5) {
    grid-column: 4;
  }
  ul:nth-child(6) {
    grid-column: 5;
  }
  .previous-time-step {
    grid-row: 3;
    grid-column: 2 / span 2;
  }
  .next-time-step {
    grid-row: 3;
    grid-column: 4 / span 2;
  }
}
