{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block main %}
  <h1>About</h1>
  <p>
    This weather app pulls information from the Met Office Weather Data Hub.
  </p>
  <h2>Icons</h2>

{% endblock %}§
