<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
  <head>
    {% block head %}
    <title>Weather App: {% block title %}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="default-style" content="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple weather application for site-specific forecasts.">
    <meta property="og:title" content="Weather App">
    <meta property="og:type" content="website">
    <link rel="icon" href="/static/cloud.svg" type="image/x-icon">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="/static/style.css" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    {% endblock %}
  </head>
  <body dir="ltr">
    <main>
      {% block main %}{% endblock %}
    </main>
    <aside class="top-menu">
      <a href="/">
        <img src="/static/cloud.svg" aria-label="logo" class="logo">
      </a>
      <nav>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/forecast">Forecast</a></li>
        </ul>
      </nav>
    </aside>
  </body>
</html>
