{% extends "base.html" %}
{% block main %}
<div id="forecast"
  <h2 id="forecast-time">
    {{ forecast.time.strftime("%A, %d %B - %H:%M") }}
  </h2>
  <div class="flex row-wrap">
    <div class="card">
      <div class="card-body">
        <img src="/static/icons/{{ forecast.significant_weather_icon() }}" title="{{ forecast.significant_weather_code() }}" alt="{{ forecast.significant_weather_code() }}">
      </div>
    </div>
  </div>
  <h3>Temperature</h3>
  <div class="flex row-wrap">
    <div class="card" id="temperature-max">
      <h4>Max</h4>
      <div class="card-body" style="background:var({{ forecast.temp_colour(forecast.maxScreenAirTemp) }}">
        <p>{{ forecast.maxScreenAirTemp }}&deg;C</p>
      </div>
    </div>
    <div class="card" id="temperature-min">
      <h4>Min</h4>
      <div class="card-body" style="background:var({{ forecast.temp_colour(forecast.minScreenAirTemp) }}">
        <p>{{ forecast.minScreenAirTemp }}&deg;C</p>
      </div>
    </div>
    <div class="card" id="feels-like">
      <h4>Feels Like</h4>
      <div class="card-body" style="background:var({{ forecast.temp_colour(forecast.feelsLikeTemp) }}">
        <p>{{ forecast.feelsLikeTemp }}&deg;C</p>
      </div>
    </div>
  </div>
  <h3>Precipitation</h3>
  <div class="flex row-wrap">
    <div class="card" id="precipitation-prob">
      <h4>Probability</h4>
      <div class="card-body">
        <p>{{ forecast.probOfPrecipitation }}%</p>
      </div>
    </div>
    <div class="card" id="precipitation-amount">
      <h4>Amount</h4>
      <div class="card-body">
        <p>{{ forecast.totalPrecipAmount }}mm</p>
      </div>
    </div>
  </div>
  <h3>Wind</h3>
  <div class="flex row-wrap">
    <div class="card" id="wind-direction">
      <h4>Direction</h4>
      <div class="card-body">
        <p>{{ forecast.cardinal_direction() }}</p>
      </div>
    </div>
    <div class="card" id="wind-speed">
      <h4>Speed</h4>
      <div class="card-body">
        <p>{{ forecast.windSpeed10m }}</p>
      </div>
    </div>
    <div class="card" id="wind-gusts">
      <h4>Gusts</h4>
      <div class="card-body">
        <p>{{ forecast.windGustSpeed10m }}</p>
      </div>
    </div>
  </div>

  <button hx-get="/forecast/{{ forecast.previous_time_step(3) }}" hx-target="#forecast" hx-swap="outerHTML" hx-select="#forecast">Get Previous Timestep</button>
  <button hx-get="/forecast/{{ forecast.next_time_step(3) }}" hx-target="#forecast" hx-swap="outerHTML" hx-select="#forecast">Get Next Timestep</button>
</div>
{% endblock %}
