{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block main %}
  <h1>Weather App</h1>
  <p>Site Specific Weather forecasts</p>
  <h2 id=#summary>Summary</h2>
  <div id="#summary-forecast"
      hx-trigger="load"
      hx-get="/summary"
      hx-target="this"
      hx-swap="outerHTML"
      hx-select="#summary-forecast"
      ></div>
{% endblock %}§
