{% extends "base.html" %}
{% block main %}
<h1 id="summary">Summary</h1>
<div id="summary-forecast">
  <ul id="day">
    {%- for d in date %}
    <li style="grid-column-end: span {{ d.get("length") }}">
        {{ d.get("time").strftime("%a") }}</br>
        {{ d.get("time").strftime("%d %b") }}
    </li>
    {%- endfor %}
  </ul>

  <ul class="description">
    <li class=time>Time</li>
    <li class=icon></li>
    <li class=temperature-min>Min (&deg;C)</li>
    <li class=temperature-max>Max (&deg;C)</li>
    <li class=temperature-max>Feels Like (&deg;C)</li>
    <li class="probability-precipitation">Precip (%)</li>
    <li class="precipitation-amount">Precip (mm)</li>
    <li class="wind-direction">Wind</li>
    <li class="wind-speed">Wind Speed</li>
  </ul>

  {%- for forecast in forecast_list %}
  <ul id="forecast-{{ forecast.time.strftime("%H") }}" class="forecast-timestep">
    <li class="time">{{ forecast.time.strftime("%H:%M") }}</li>
    <li class=icon>
      <img src="/static/icons/{{ forecast.significant_weather_icon() }}" title="{{ forecast.significant_weather_code() }}">
    </li>
    <li class="temperature-min" style="background:var({{ forecast.temp_colour(forecast.minScreenAirTemp) }}">{{ forecast.minScreenAirTemp }}</li>
    <li class="temperature-max" style="background:var({{ forecast.temp_colour(forecast.maxScreenAirTemp) }}">{{ forecast.maxScreenAirTemp }}</li>
    <li class="temperature-feels-like" style="background:var({{ forecast.temp_colour(forecast.feelsLikeTemp) }}">{{ forecast.feelsLikeTemp }}</li>
    <li class="probability-precipitation">{{ forecast.probOfPrecipitation }}</li>
    <li class="precipitation-amount">{{ forecast.totalPrecipAmount }}</li>
    <li class="wind-direction">{{ forecast.cardinal_direction() }}</li>
    <li class="wind-speed">{{ forecast.windSpeed10m }}</li>
  </ul>
  {%- endfor %}
  <button
      class="time-step-control previous-time-step"
      hx-get="/summary/{{ forecast_list[0].previous_time_step(3) }}"
      hx-target="#summary-forecast"
      hx-swap="outerHTML"
      hx-select="#summary-forecast">Get Previous Timestep</button>
  <button
      class="time-step-control next-time-step"
      hx-get="/summary/{{ forecast_list[0].next_time_step(3) }}"
      hx-target="#summary-forecast"
      hx-swap="outerHTML"
      hx-select="#summary-forecast">Get Next Timestep</button>
</div>
{% endblock %}
